VITE_API_BASE_URL=http://localhost:4300/api/v1
VITE_SOCKET_URL=http://localhost:4300
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
VITE_STUN_URLS=stun:stun.cloudflare.com:3478
